.forecast-container {
  background: rgba(255, 255, 255, 0.9); /* Fondo blanco con ligera transparencia */
  border-radius: 15px;
  padding: 20px;
  max-width: 800px; /* Ancho suficiente para una fila */
  margin: 20px auto; /* Centrar el contenedor */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra elegante */
  text-align: center;
  color: #333; /* Texto en gris oscuro */
}

.forecast-grid {
  display: flex; /* Cambiar a flexbox */
  justify-content: space-between; /* Espaciado uniforme */
  gap: 15px; /* Separación entre tarjetas */
}

.forecast-card {
  background-color: #ffffff;
  padding: 15px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  min-width: 120px; /* Ancho mínimo */
  flex: 1; /* Adaptar al espacio disponible */
  cursor: pointer;
}

.forecast-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.forecast-card p {
   margin: 5px 0;
}

.text-center  {
   text-align: center;
}

.weather-icon {
  width: 50px;
  height: 50px;
  margin: 10px auto;
}
