.app-header {
  background: #2C3E50; /* Azul oscuro elegante */
  color: white;
  text-align: center;
  padding: 1rem 0; /* Menor padding para hacerlo más compacto */
  font-size: 1.5rem; /* Tamaño de texto moderado */
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  border-bottom: 2px solid #1ABC9C; /* Línea de acento en verde agua */
}
