.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* Añadir separación del contenido superior */
  }
  
  .search-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; /* Bordes redondeados sólo en la izquierda */
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    border-radius: 0 5px 5px 0; /* Bordes redondeados sólo en la derecha */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones elegantes */
  }
  
  .search-button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el ratón */
    transform: scale(1.05); /* Ligeramente más grande al hacer hover */
  }
  
  .search-button:active {
    background-color: #004080; /* Color más oscuro al hacer clic */
    transform: scale(0.95); /* Ligeramente más pequeño al hacer clic */
  }
  