.chart-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
  }
  
  .chart-wrapper {
    height: 400px; /* Altura del gráfico */
  }
  